<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  
  <filter>
  	<filter-name>char</filter-name>
  	<filter-class>com.langsin.filter.CharactorFilter</filter-class>
  </filter>
  <filter>
  	<filter-name>login</filter-name>
  	<filter-class>com.langsin.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>char</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>login</filter-name>
  	<url-pattern>/a</url-pattern>
  </filter-mapping>
  
  
  <servlet>
    <servlet-name>securityCodeServlet</servlet-name>
    <servlet-class>com.langsin.servlet.securityCodeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.langsin.servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjaxServlet</servlet-name>
    <servlet-class>com.langsin.servlet.AjaxServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>com.langsin.servlet.ProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadServlet2</servlet-name>
    <servlet-class>com.langsin.servlet.UploadServlet2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>user</servlet-name>
  	<servlet-class>com.langsin.servlet.MyUserServlet</servlet-class>
  </servlet>
  
  




  <servlet-mapping>
    <servlet-name>securityCodeServlet</servlet-name>
    <url-pattern>/securitycode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjaxServlet</servlet-name>
    <url-pattern>/ajax</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/product</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadServlet2</servlet-name>
    <url-pattern>/upload2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>user</servlet-name>
  	<url-pattern>/user</url-pattern>
  </servlet-mapping>
  	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
